/*
	EDITED by 			Gorthian
	INSPIRED by			Hitdice (https://www.youtube.com/c/Hitdice)
	Version				0.1
	Letzte Änderung		2021-10-21
	
	GitHub				https://github.com/Gorthian/FSG_CharacterSheet_Roll20
	Wiki				https://github.com/Gorthian/FSG_CharacterSheet_Roll20/wiki
*/

/************************************/
/*		GRID-Layout					*/
/************************************/

.sheet-fsg {	
	background-color		: #645a51;
	display 				: grid;
	grid-template-columns	: auto 100px;
	grid-template-areas		: 	"status-effects	sidebar"
								"sheet-content	sidebar"
								"inventory		inventory"
								"who 			who"
								"footer			footer";
	
}

div.sheet-status-effects {
	display					: grid;
	grid-area				: status-effects;
	gap						: 5px;
	grid-template-columns	: auto auto auto auto auto auto;
	grid-template-areas		: 	"stress exhaustion pain hunger misc advantage";								
}

div.sheet-general {
	display					: grid;	
	grid-template-columns	: auto	auto auto;
	grid-template-areas		: 	"name eat drink"
								"home languages reserves"
								"attributes specials specials"
								"skills specials specials"
}

div.sheet-eat {grid-area: eat;}
div.sheet-drink {grid-area: drink;}
div.sheet-home {grid-area: home;}
div.sheet-languages {grid-area: languages;}
div.sheet-reserves {grid-area: reserves;}
div.sheet-who {grid-area: who;}
div.sheet-attributes {grid-area: attributes;}
div.sheet-skills {grid-area: skills;}
div.sheet-specials {grid-area: specials;}
div.sheet-content {grid-area: sheet-content;}
div.sheet-sidebar {grid-area: sidebar;}
div.sheet-footer {grid-area: footer;}
div.sheet-status-stress {grid-area: stress;}
div.sheet-status-exhaustion {grid-area: exhaustion;}
div.sheet-status-pain {grid-area: pain;}
div.sheet-status-hunger {grid-area: hunger;}
div.sheet-status-misc {grid-area: misc;}
div.sheet-status-advantage {grid-area: advantage;}
div.sheet-status-disadvantage {grid-area: disadvantage;}

div.sheet-inventory {
	grid-area				: inventory;
	display					: grid;	
	grid-template-columns	: auto auto auto;
	grid-template-areas		: 	"weapons	armor	items";
}

div.sheet-weapons {grid-area: weapons;}
div.sheet-armor {grid-area: armor;}
div.sheet-items {grid-area: items;}

div.sheet-item-items {
	display					: grid;	
	grid-template-columns	: auto auto auto;
	grid-template-areas		: 	"item-bonus			item-name 			item-sacrifice-value"
								"item-description	item-description	item-description";
}

div.sheet-item-armor {
	display					: grid;	
	grid-template-columns	: auto auto auto;
	grid-template-areas		: 	"item-bonus			item-name 			item-sacrifice-value"
								"item-armor-value	empty				item-armor-points"
								"item-description	item-description	item-description";
}

div.sheet-item-weapons {
	display					: grid;	
	grid-template-columns	: auto auto auto;
	grid-template-areas		: 	"item-bonus			item-name 			item-sacrifice-value"
								"item-damage 		item-range 			item-range"
								"item-description	item-description	item-description";
}

div.sheet-item-title{grid-area: item-title;}
div.sheet-item-bonus{grid-area: item-bonus;}
div.sheet-item-name{grid-area: item-name;}
div.sheet-item-sacrifice-value{grid-area: item-sacrifice-value;}
div.sheet-item-damage{grid-area: item-damage;}
div.sheet-item-range{grid-area: item-range;}
div.sheet-item-description{grid-area: item-description;}

/************************************/
/*		Allgemeine Layouts			*/
/************************************/

.sheet-box {
		background-color	: #c2af80;
		display				: grid;
		border				: 1px solid #b5a883;
		border-radius		: 10px;
		margin				: 2px;
}

.sheet-container {
		background-color	: #645a51;
		display				: grid;
		border				: none;
		margin				: 0;
}

div.sheet-status-stress, div.sheet-status-exhaustion, div.sheet-status-pain, div.sheet-status-hunger,
div.sheet-status-misc, div.sheet-status-advantage, div.sheet-status-disadvantage {
		text-align			: center;
}

textarea.sheet-text, input.sheet-text {
	width					: 98%;
	border					: 0;
	background-color		: rgba(0, 0, 0, 0);
	color					: black;
}

textarea.sheet-text {
	height					: 40px;
}

input.sheet-number {
	width					: 25px !important;
	text-align				: center;
	border					: 0;
	background-color		: rgba(0, 0, 0, 0);
	color					: black;
	-moz-appearance			: textfield;
}

input.sheet-title {
	font-weight				: bold;
}

img.sheet-reserve-image, img.sheet-status-image {
	width					: 35px;	
}

div.sheet-title, span.sheet-title {
	background-color		: #d4b938;
	max-height				: fit-content;
	font-weight				: bold;
	border-radius			: 10px;
}

span.sheet-attribute, span.sheet-skill, div.sheet-inventory input.sheet-number {
	border					: 1px black;
	border-style			: solid;	
	border-radius			: 10px;
}

span.sheet-attribute-label, span.sheet-skill-label {
	display					: inline-block;
	width					: 150px;
	font-weight				: bold;
}

span.sheet-reserve {
	position				: relative;
	left					: -10px;
	border					: 1px black;
	border-style			: solid solid solid none;	
	border-radius			: 10px;
}

span.sheet-no-line-break {
	white-space				: nowrap !important;
}

button.sheet-disadvantage {
	background-image		: url(https://raw.githubusercontent.com/Gorthian/FSG_CharacterSheet_Roll20/main/images/disadvantage.png) !important;
}

button.sheet-advantage {
	background-image		: url(https://raw.githubusercontent.com/Gorthian/FSG_CharacterSheet_Roll20/main/images/advantage.png) !important;
}

button.sheet-disadvantage, button.sheet-advantage {
	width					: 20px;
	height					: 20px;
	padding					: 0px;
	margin					: 0px;
	background-size			: 20px 20px;
    background-repeat		: no-repeat;
    background-color		: rgba(0, 0, 0, 0);
	text-align				: center;
	border					: 0;
}