/*
	EDITED by 			Gorthian
	INSPIRED by			Hitdice (https://www.youtube.com/c/Hitdice)
	Version				0.1
	Letzte Änderung		2021-10-12
	
	GitHub				https://github.com/Gorthian/FSG_CharacterSheet_Roll20
	Wiki				https://github.com/Gorthian/FSG_CharacterSheet_Roll20/wiki
*/

.sheet-fsg {	
	background-color		: #645a51;
	display 				: grid;
	grid-template-columns	: auto 100px;
	grid-template-areas		: 	"tabs-nav 		sidebar"
								"tabs-content	sidebar"
								"footer			footer";
	
}

.sheet-box {
		background-color	: #c2af80;
		display				: grid;
		border				: 1px solid #b5a883;
		border-radius		: 10px;
		margin				: 2px;
}

.sheet-container {
		background-color	: #645a51;
		display				: grid;
		border				: none;
		margin				: 0;
}

div.sheet-tabs-nav {
	grid-area				: tabs-nav;
}

div.sheet-tabs-content {
	grid-area				: tabs-content;
}

div.sheet-sidebar {
	grid-area				: sidebar;
}

div.sheet-footer {
	grid-area				: footer;
}

.sheet-general {
	display					: grid;	
	grid-template-columns	: 200px	auto auto;
	grid-template-areas		: 	"name eat drink"
								"home who who"
								"languages who who"
								"reserves who who"
								"attributes specials specials"
								"skills specials specials";
}

div.sheet-eat {
	grid-area				: eat;
}

div.sheet-drink {
	grid-area				: drink;
}

div.sheet-home {
	grid-area				: home;
}

div.sheet-languages {
	grid-area				: languages;
}

div.sheet-reserves {
	grid-area				: reserves;
}

div.sheet-who {
	grid-area				: who;
}

div.sheet-attributes {
	grid-area				: attributes;
}

div.sheet-skills {
	grid-area				: skills;
}

div.sheet-specials {
	grid-area				: specials;
}

textarea.sheet-text, input.sheet-text {
	width					: 98%;
	border					: 0;
	background-color		: rgba(0, 0, 0, 0);
	color					: black;
}

textarea.sheet-text {
	height					: 40px;
}

input.sheet-number {
	width					: 25px !important;
	border					: 0;
	background-color		: rgba(0, 0, 0, 0);
	color					: black;
	-moz-appearance			: textfield;
}

img.sheet-reserve-image {
	width					: 35px;	
}

span.sheet-title {
	background-color		: #d4b938;
	max-height				: fit-content;
	font-weight				: bold;
	border-radius			: 10px;
}

span.sheet-reserve {
	position				: relative;
	left					: -10px;
	border					: 1px black;
	border-style			: solid solid solid none;	
	border-radius			: 10px;
}